---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="ru">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h3>👋 Привет, давай знакомиться</h3>
			<p>Меня зовут Данил, и мне 19 лет. С 12 лет я интересуюсь программированием и разными науками. С детства меня привлекала техника, и я всегда находил удовольствие в изучении разных приборов и создании чего-то нового.</p>
			<p>Сейчас я учусь на четвертом курсе колледжа, работаю в game dev и параллельно рассматриваю альтернативные места работы. Однако я активно стремлюсь к развитию своих профессиональных навыков. Я владею ООП и MVC (ModelViewController), имею опыт работы с Laravel и Symfony.</p>
			<p>Изучал машинное обучение и реализовывал распознавание лиц и объектов на Python. У меня есть опыт в создании простых ботов для ВКонтакте (обработка фотографий, связка Python и PHP). Многие личные проекты под моим руководством включают в себя игры, чат-боты, онлайн-магазины и хостинг.</p>
			<h3>Навыки в программировании</h3>
			<ul>
				<li>TypeScript</li>
				<li>Vue</li>
				<li>React</li>
				<li>Java</li>
				<li>Python</li>
				<li>PHP (основной стек)</li>
				<li>C#</li>
			</ul>
			<p>Также работал с MySQL, PostgreSQL, и REST API. Благодаря моему пониманию принципов функционирования браузеров и протоколов, я обладаю навыками работы с telnet и различными средами разработки. Умею тестировать API системы и разрабатывать свои, понимаю принципы работы сетей и работы с системами контроля версий, такими как Git.</p>
			<p>Меня всегда привлекали математика и физика в школе и колледже. Я с удовольствием участвую в инженерных проектах, способный создавать программные решения и собирать электронные схемы.</p>

		</main>
		<Footer />
	</body>
</html>
