---
import Layout from '../layouts/BlogPost.astro';
import {SITE_TITLE} from "../consts";
---

<Layout
	title=`Личные проекты | ${SITE_TITLE}`
	bodyTitle='Личные проекты'
	pubDate={new Date('January 14 2024')}
	description="Мои личные и заказные прокеты, здесь представлены мои лучшие проекты."
>
	<div class="container">
		<div class="title">
			<h4>BloodyAssistant</h4>
		</div>
		<div class="body center">
			Голосовой ассистент для управления умным домом, для управления есть удобная веб панель управления и android приложение
		</div>
		<div class="langlist center">
			<b class="icon icon-vue" data-tippy-content="vue"/>
			<b class="icon icon-js" data-tippy-content="JavaScript"/>
			<b class="icon icon-php" data-tippy-content="PHP"/>
			<b class="icon icon-flutter" data-tippy-content="Flutter"/>
		</div>
	</div>

	<hr>

	<div class="container">
		<div class="title">
			<div class="imgbox gallery">
				<a href="/images/projects/vdspace.png">
					<img src="/images/projects/vdspace-mini.png" data-at-450="/images/projects/vdspace-mini.png" alt="" />
				</a>
			</div>
			<h4>VDSpace</h4>
		</div>
		<div class="body center">
			Сервис аренды виртуальных серверов для малого бизнеса, хостинг сайтов и регистратор доменов
		</div>
		<div class="langlist center">
			<b class="icon icon-php" data-tippy-content="PHP"/>
			<b class="icon icon-vue" data-tippy-content="vue"/>
			<b class="icon icon-js" data-tippy-content="JavaScript"/>
		</div>
	</div>

	<hr>

	<div class="container">
		<div class="title">
			<div class="imgbox gallery">
				<a href="/images/projects/zendorbot.png">
					<img src="/images/projects/zendorbot-mini.png" data-at-450="/images/projects/zendorbot-mini.png" alt="" />
				</a>
			</div>
			<h4>ZendorBot</h4>
		</div>
		<div class="body center">
			Простой игровой бот для ВК, изучал возможности PHP и NodeJS
		</div>
		<div class="langlist center">
			<b class="icon icon-php" data-tippy-content="PHP"/>
			<b class="icon icon-js" data-tippy-content="JavaScript"/>
		</div>
	</div>

	<script type="application/javascript">
		baguetteBox.run('.imgbox', {
			captions: function(element) {
				return element.getElementsByTagName('img')[0].alt;
			}
		});
	</script>
</Layout>
