---
const today = new Date();

import { getLocale } from '../utils/localize';
let locale = getLocale();

const podName = process.env.POD_NAME || '';
---

<footer>
	&copy; {today.getFullYear()} Made with love <span class="heart" title="❤">❤</span>
	<div class="social-links">
		<a href="https://www.linkedin.com/in/kalinind/" target="_blank" title="LinkedIn" aria-label="LinkedIn">
			<iconify-icon icon="mdi:linkedin" width="32" height="32"></iconify-icon>
		</a>

		<a href="https://kalinindanil17y.t.me/" title="Telegram" aria-label="Telegram">
			<iconify-icon icon="mdi:telegram" width="32" height="32"></iconify-icon>
		</a>

		<a href="https://www.facebook.com/profile.php?id=100018704474057" target="_blank" title="Facebook" aria-label="Facebook">
			<iconify-icon icon="mdi:facebook" width="32" height="32"></iconify-icon>
		</a>
		
		<a href="https://github.com/kalininDanil17Y" target="_blank" title="GitHub" aria-label="GitHub">
			<iconify-icon icon="mdi:github" width="32" height="32"></iconify-icon>
		</a>

		<a href="#" id="lang-toggle-footer" title="Toggle Language" aria-label="Toggle Language">
			<iconify-icon icon="mdi:translate" width="32" height="32"></iconify-icon>
		</a>
	</div>
	<span>{podName}</span><br>
	<span><a href="https://github.com/kalininDanil17Y/kalinind.ru">Source code</a> | <a href="https://hub.docker.com/repository/docker/danilo9/kalinind.ru/">DockerHub</a></span>
</footer>

<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
		align-items: center;
	}
	
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
		transition: opacity 0.2s ease;
	}
	
	.social-links a:hover {
		opacity: 0.7;
	}

	#lang-toggle-footer {
		cursor: pointer;
	}

	.heart {
		cursor: help;
	}
</style>

<script>
	import 'iconify-icon';
</script>
